<div class="container">
  <div class="card col-12 p-0">
    <div class="card-header bg-primary text-center">
      ToDo List of {{user?.Username}}
    </div>
    <div class="card-body">
      <div class="list-groupe row">
        <form class="col-12" [formGroup]="TodosForm">
          <div class="form-group">
            <input type="text" name="Todo" id="Todo" class="form-control" formControlName="Name" placeholder="Write Somthing Todo">
            <button class="btn float-right m-2 mr-0" (click)="Create()">+</button>
          </div>
        </form>
      </div>
      <ul class="list-group" *ngFor="let todo of Todos">
        <li class="list-group-item">{{todo.Name}} <span class="float-right">
            <input type="checkbox" [checked]="todo.done">
          </span></li>
      </ul>
    </div>
  </div>
</div>
